* {
    padding: 0;
    background-color: #ccc;
    font-family: 'Bitter', serifif;
}

  body {
    font-size: 18px;
    line-height: 24px;
  }

  header{
    margin: 2em;
    padding:1em;
    padding-top:3em;
  }

    header h1{
      padding-bottom: 0.5em;
    }

    #contact-info{
      display: flex;
      flex-direction: row;
      padding-right: 1em;
      padding-top: 1em;
    }

    img {
      width: 200px;
      height: 200px;
      border: solid black 3px;
    }

    #contact{
      display: flex;
      line-height: 2em; 
    }

    #links{
      display: flex;
      padding-left: 1.5;
      margin-left: 1.2em;
      line-height: 2em; 
    }

    #intro{
      display: flex;
      padding: 2em;
      margin-left: 4em;
      text-align: justify;
      border: ridge #909ab4 0.3em;
    }

  main{
    margin: 2em;
  }

  footer{
    margin: 2em;
  }

  #page-wrap {
    width: 800px;
    margin: 40px auto 60px;
  }

  main ul li {
    list-style: square;
    text-align: justify;
    margin-left: 20em;
    line-height: 2em; 
  }
  
  main h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #4a6cc1;
  }

  main h2 {
    font-size: 25px;
    margin: 0 0 6px 0;
    position: relative;
  }

  h2 span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-style: italic;
    font-size: 16px;
    color: #4a6cc1;
    font-weight: normal;
  }

  p {
    margin: 0 0 16px 0;
  }

  a {
    color: #4a6cc1;
    text-decoration: none;
  }

  a:hover {
    color: black;
  }
  
  ul {
    margin: 0 0 32px 17px;
  }

  dt {
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
    background-color: #a0a3aa;
    padding: 1em;
    border-radius: 7px;
    color: black;
  }

  dd {
    text-align: center;
    margin-bottom: 20px;
  }

  #idiomas, div{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .referencias{
    color: #4a6cc1;
  }